.color2{
    color: green;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    width: 100px;
    height: 100px;
    border: 10px solid red;
    margin: 10px;
    padding: 10px;
}
body{
    border: 10px double hotpink;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid crimson;
    background-color: aquamarine;
}
.one{
    width: 100px;
    height: 100px;
    border: 1px solid green;

}
.two{
    background-color: antiquewhite;
}
#three{
    background-color: burlywood;
}